/* SVG START*/
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
  justify-content: center;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 8%;
}

.rect__highlight {
  stroke: black;
  stroke-width: 2;
}
/* SVG END */

/* ///// MEDIA QUERIES ////// */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .svg-content {
    padding-left: 10%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .svg-content {
    padding-left: 13%;
  }
}
