@import url("./components/dropdowns.css");
@import url("./components/color__keys.css");
@import url("./components/d3__charts.css");

.main__grid {
  background-color: blanchedalmond;
}

#view__passes__aerial {
  border: solid;
  border-color: black;
}

#view__passes__direction {
  border: solid;
  border-color: blue;
}
